* {
    background-color: #000000;
   }
   .actividad1 {
    color: rgb(31, 226, 41);
    }

h1 {
    color: burlywood;
    }   
h2 {
    background-color: blueviolet;
    }
h3 {
    color: crimson;
    }