* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    justify-content: center;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-desktop {
    display: none;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    grid-area: footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
    grid-area: texto;
    text-align: left;
    font-weight: bold;
}

.imagenDePrueba {
    grid-area: imagen;
    width: 150px;
}

.logo {
    width: 70px;
}